// Змінні кольорів
$primary-color: #007bff;
$primary-dark: #0056b3;
$background-color: #f8f9fa;
$text-color: #333;
$header-footer-bg: #343a40;
$header-footer-text: #ffffff;
$button-disabled-bg: #6c757d;
$table-header-bg: #007bff;
$table-hover-bg: #f1f1f1;

// Змінні шрифтів
$font-family: 'Arial', sans-serif;
